.theos/
packages/
.DS_Store
*.xcscmblueprint
*.xccheckout
*.xcarchive
xcuserdata
Resources/Frameworks/OpenSSL.framework
apps_nightly.json

# Build artifacts
*.ipa
Payload/
tmp/
build*.log
archive.xcarchive/
dylibify
